<div class="selectors">
  <mat-form-field>
    <mat-label>Year</mat-label>
    <mat-select>
      <mat-option>-- All --</mat-option>
      <mat-option>2024</mat-option>
      <mat-option>2023</mat-option>
      <mat-option>2022</mat-option>
      <mat-option>2021</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Month</mat-label>
    <mat-select>
      <mat-option>-- All --</mat-option>
      <mat-option>January</mat-option>
      <mat-option>February</mat-option>
      <mat-option>March</mat-option>
      <mat-option>April</mat-option>
      <mat-option>May</mat-option>
      <mat-option>June</mat-option>
      <mat-option>July</mat-option>
      <mat-option>August</mat-option>
      <mat-option>September</mat-option>
      <mat-option>October</mat-option>
      <mat-option>November</mat-option>
      <mat-option>December</mat-option>
    </mat-select>
  </mat-form-field>
</div>
