.example-spacer {
  flex: 1 1 auto;
}

.navigation {
  background-color: red;
  height: 50px;
}

.app-name {
  font-size: 30px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: auto 10px;
}

.menu-icon {
  padding: 10px;
  margin: 0 10px;
}
